#btns{
  padding-top:10px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#FFF;
  font-weight:bold;
}

#btns ul{ 
  list-style:none;
  margin:0;
  padding:0;
}

#btns ul li{ 
  display:inline;
  margin:0;
  text-transform:capitalize;
  float:left;
} 

#btns ul li a{
  display: block;             /* ƒuƒƒbƒN—v‘f‚É‚·‚é */
  width: 140px;                /* ‰¡• */
  color: #ffffff;
  background-color: #3333CC;  /* ”wŒiF */
  border: solid 1px #ffffff;*/ /* ˜g‚ÌF */
  margin: 0px;
  padding-top: 5px;
  padding-right: 16px;
  padding-bottom: 5px;
  padding-left: 16px;
  text-align: center;         /* …•½‘µ‚¦ */
  text-decoration: none;      /* ‰ºü‚ğÁ‚· */
}

#btns ul li a:hover {
  color:#666666;
  background-color: #FF9900;  /* ”wŒiF */
  opacity: 0.7;
}

#btns ul li a.active {
  color: #e6e6fa;
  background-color: #555588;  /* ”wŒiF */
  border: solid 1px #ffffff;*/  /* ˜g‚ÌF */
}


